.home {
  margin: auto;
  width: 100%;
  color: @shark;
  font-weight: bold;

  header {
    padding-bottom: 10px;
    border-bottom: 2px dashed @silver;
    width: 100%;
    @media(@mobile){
      width: 80%;
      margin: auto;
    }

    
    img {
      margin-top: 8px;
      margin-bottom: 20px;
    }
  }
  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media(mobile) {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media(@mobile){
        width: 80%;
        margin: auto;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media(@mobile) {
        width: 80%;
        margin: auto;
      }

      img {
        border-radius: 10px;
        
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    @media(mobile){
      flex-direction: column;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
      @media(@mobile) {
        order: 1;
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;

      @media(@mobile){
        order: 2;
      }
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media(@mobile) {
      flex-direction: column;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media(@mobile) {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
      }

      button {
        .button(75%, 40px, @eastern-blue, @white, 15px);
        font-size: 1.75rem;
        font-weight: bold;
      }
     
    }
  }
}// home